<div class="booking-title">
  <p>Hey <%= current_user.has_profile? ? current_user.full_name : current_user.email  %>! your bookings are here:</p>
</div>
<% @booking.each do |book| %>
    <div class="col-md-4">
        <div class="panel">
          <p> <%= link_to "Go to the ROOM", room_path(book.room_id), class:'btn btn-yellow' %></p>
          <p>start date:<%= book.starts_at %></p>
          <p>end date:<%= book.ends_at %></p>
        </div>
    </div>
<% end %>
