.background-image {
    background: url("/assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body h1 {
    align-items: center;
}

.navbar {
    margin-top: 13px;
}

.navbar-nav li a {
    color: white;
    font-size: 20px;
}

.title {
    position: absolute;
    color: #EDDC21;
    text-align: center;
    left: 40%;
}

.title h1 {
    text-transform: uppercase;
    margin: 0;
    white-space: nowrap;
}

@media (min-width:320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width:480px) {
    /* smartphones, Android phones, landscape iPhone */
    .title h1 {
        font-size: 4rem;
    }

    .title p {
        font-size: 2rem;
    }

    .sidebar-list {
        padding-left: 0;
    }
}
@media (min-width:600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width:801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
}
@media (min-width:1281px) {
    /* hi-res laptops and desktops */
    .title h1 {
        font-size: 6rem;
    }

    .title p {
        font-size: 3rem;
    }

    .sidebar-list {
        padding-left: 15px;
    }
}

.container {
    padding-right: 0;
    padding-bottom: 35px;
}

.navbar-nav li a:hover {
    background-color: #CCC258;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
    background-color: #CCC258;
}

.dropdown-menu {
    background-color: transparentize(#CCC258, 0.3);
}

.panel {
    background-color: transparentize(white, 0.19);
}

.panel-body {
  padding: 30px;
}

.panel-primary {
    border-color: #C2AB61;
}

.panel-primary .panel-heading {
    background-color: #CCC258;
    border-color: #C2AB61;
}

.btn-yellow {
    color: #fff;
    background-color: #CCC258;
    border-color: #C2AB61;
}

.sidebar-list li a {
    color: white;
    font-size: 2rem;
}

.sidebar-list li a:hover {
    background-color: #CCC258;
    text-decoration: none;
    padding: 15px;
}

ul {
    list-style-type: none;
}

.sidebar-item a {
    line-height: 40px;
}

.available-rooms {
  background-color: transparentize(#CCC258, 0.2);
  padding: 20px;
}
